@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .size {
        @apply w-32 h-32 xl:w-32 xl:h-32 2xl:w-48 2xl:h-48;
    }
    
    .square {
        aspect-ratio: 1;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@keyframes blink {
  0% { background-color: transparent; }
  50% { background-color: #22c55e; }
  100% { background-color: transparent; }
}

.blink-animation {
  animation: blink 1s ease-in-out 2;
}

.month-highlight {
  background-color: rgba(34, 197, 94, 0.1); /* Light green background */
}

.notes-and-photos-section {
  padding: 0;
  margin: 0;
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
      linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  min-height: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg
                  0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card-body {
  padding: 1em;
  border-radius: 0 0 5px 5px;
}

.card-body textarea {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  background-color: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}

.card-header {
  background-color: #9bd1de;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* Hide scrollbar but keep functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}